<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="./favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link href="./_app/immutable/assets/0.BIBRyTht.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.Dte_P4MJ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/entry.BXNZEUvq.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/scheduler.Ce_0Mfso.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/paths.CAupCBW1.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.6YBST4JB.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.BOoBSeeH.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.DfzHiE7o.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/2.Bm11BqU_.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">  <header class="svelte-1sga1v4" data-svelte-h="svelte-daoxdb"><h1 class="svelte-1sga1v4">Header</h1> <a href="./"></a></header> <main data-svelte-h="svelte-1qvywdo"></main> <footer data-svelte-h="svelte-1gl9hup">footer</footer> 
			
			<script>
				{
					__sveltekit_sv1pvh = {
						base: new URL(".", location).pathname.slice(0, -1)
					};

					const element = document.currentScript.parentElement;

					const data = [null,null];

					Promise.all([
						import("./_app/immutable/entry/start.Dte_P4MJ.js"),
						import("./_app/immutable/entry/app.6YBST4JB.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2],
							data,
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
	</body>
</html>
